services:
  postgres:
    image: postgres:16
    container_name: xfchat-postgres
    environment:
      POSTGRES_DB: xfchat
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Ab13cba46def79_
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
